<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="functional">
            <directory suffix="Test.php">./tests/Functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="QUEUE_CONNECTION" value="sync" />
    </php>
    <coverage
        includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="true"
    >
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">public</directory>
        </include>
        <report>
            <clover outputFile="test-results/phpunit/clover.xml" />
            <html
                outputDirectory="test-results/phpunit/coverage-html"
                lowUpperBound="50"
                highLowerBound="90"
            />
        </report>
    </coverage>
    <logging>
        <junit outputFile="test-results/phpunit/junit.xml" />
    </logging>
</phpunit>
